/ZipClasses/target/
/MailClasses/target/
/ArchiveOnline/target/
/ArchiveOnlineServer/target/
/ArchiveOnlineClient/target/
/ArchiveOnlineServer/InputFiles/
/ArchiveOnlineServer/OutputFiles/
/DispatcherServices/target/