/ZipClasses/target/
/MailClasses/target/
/ArchiveOnline/target/
/ArchiveOnlineServer/target/
/ArchiveOnlineClient/target/
/ZipArchiverServer/InputFiles/
/ZipArchiverServer/OutputFiles/
/DispatcherServices/target/
/UtilsProject/target/